

<div class="panel-heading forumpost-heading">
    <h1 class="font-roboto article-title">@Model.Title</h1>
</div>

<div class="panel-body">
    <div class="forumpost-content-wrapper">
        @Html.Raw(Model.Content)
    </div>
</div>
<div class="forumpost-meta">
    <span class="">
        <i class="glyphicon glyphicon-time"></i>
        @Model.Date
    </span>
    <div>
        <i class="glyphicon glyphicon-bookmark"></i>
        @Model.Category.CategoryName
    </div>
    <div>
        <i class="glyphicon glyphicon-user"></i>
        <strong> <a href="/UserProfile/Show/@Model.User.Id">  @Model.User.UserName </a> </strong>
    </div>
</div>

